@font-face {
    font-family: Averta-Demo;
    src: url('../../fonts/averta-demo-pe-cutted-demo-regular.ttf');
}

section.project div.mainContainer {
    width: 1200px;
    min-height: 436px;
    position: relative;
    margin: 0 auto;
}

section.project div.mainContainer div.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.project div.mainContainer div.main div.video {
    position: relative;
}

section.project div.mainContainer div.main div.video img[alt="video"] {
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
}

section.project div.mainContainer div.main div.video div.button {
    position: absolute;
    top: 37%;
    left: 43%;
    cursor: pointer;
}

section.project div.mainContainer div.main div.description {
    width: 532px;
}

section.project div.mainContainer div.main div.description div.header {
    margin-bottom: 30px;
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

section.project div.mainContainer div.main div.description div.text {
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565656;
}

section.project div.mainContainer div.main img.rectangle {
    position: absolute;
    z-index: -1;
    left: 624px;
    top: 50px;
}

section.project div.mainContainer div.main img.ellipse {
    position: absolute;
    z-index: -1;
    left: 466px;
    bottom: 0;
}