@font-face {
    font-family: Averta-Demo;
    src: url('../../fonts/averta-demo-pe-cutted-demo-regular.ttf');
}

section.contact div.mainContainer {
    width: 1272px;
    min-height: 387px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

section.contact div.mainContainer div.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F9FF;
    border-radius: 75px;
    padding-left: 92px;
    position: relative;
    margin-top: 56px;
    margin-right: 37px;
    margin-left: 38px;
    margin-bottom: 39px;
}

section.contact div.mainContainer div.main div.blueRectangle div.contact {
    position: absolute;
    top: 106px;
    right: 98px;
}

section.contact div.mainContainer div.main div.description {
    width: 588px;
}

section.contact div.mainContainer div.main div.description div.header {
    margin-bottom: 17px;
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}

section.contact div.mainContainer div.main div.description div.text {
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #757575;
}

section.contact div.mainContainer div.main div.blueRectangle div.contact input {
    width: 235px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    padding-left: 34px;
    padding-right: 210px;
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #959595;
}

section.contact div.mainContainer div.main div.blueRectangle div.contact button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #2639ED;
    border-radius: 60px;
    width: 188px;
    height: 60px;
    border: none;
    font-family: 'Averta-Demo';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.065em;
    color: #FFFFFF;
    cursor: pointer;
}

section.contact div.mainContainer div.main img.dots {
    position: absolute;
    z-index: -1;
    top: -56px;
    right: -37px;
}

section.contact div.mainContainer div.main img.rectangle {
    position: absolute;
    z-index: -1;
    bottom: -39px;
    left: -38px;
    transform: rotate(90deg);
}