@font-face {
  font-family: Averta-Demo;
  src: url('./fonts/averta-demo-pe-cutted-demo-regular.ttf');
}

section.App div.mainContainer {
  width: 1200px;
  margin: 0 auto;
  height: 37vh;
  font-family: 'Averta-Demo';
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}